# Ignore all test and documentation for archive
/.github            export-ignore
/.gitattributes     export-ignore
/docs               export-ignore

/docs				linguist-generated=true
/docs/*				linguist-generated=true