version: '3'
services:
  web:
    container_name: veloportal_web
    image: nginx:1.17
    ports:
      - 80:80
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/site.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    container_name: veloportal_php
    build:
      context: ./
      dockerfile: ./docker/php/Dockerfile
    volumes:
      - ./:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/php.ini

  db:
    container_name: veloportal_db
    image: postgres:latest
    restart: always
    ports:
      - "3336:3306"
    volumes:
      - "./database/postgres-data:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: veloportal_db

  # build to generate docs
  phpdoc:
    container_name: veloportal_phpdoc
    image: phpdoc/phpdoc:latest
    volumes:
      - ./:/var/www/html
    entrypoint: >
      /bin/sh -c "
        cd /var/www/html;
        phpdoc;

        exit 0;
      "

  adminer:
    container_name: veloportal_adminer
    image: adminer
    restart: always
    ports:
      - 8080:8080
